 .example-spacer {
     flex: 1 1 auto;
  }

//    .example-icon {
//      padding: 0 14px;
//    }


.center_div{
    margin: 0 auto;
    width:60% /* value of your choice which suits your alignment */
    
}